### 练习：银行系统

In [22]:
from datetime import datetime

class Logger:
    """
    日志记录类
    """
    def __init__(self, filename: str):
        self.filename = filename

    def info(self, msg: str):
        with open(self.filename, "a+") as f:
            f.write(f"{str(datetime.now())} | INFO: {msg}\n")

    def warning(self, msg: str):
        with open(self.filename, "a+") as f:
            f.write(f"{str(datetime.now())} | WARNING: {msg}\n")

In [34]:
class BankAccount:
    def __init__(self, account_name, initial_balance=0, logger=None):
        self.account_name = account_name
        self.__balance = initial_balance
        self.logger = logger # 传入日志对象

    def deposit(self, amount):
        # 未引入logger：
        # if amount < 0:
        #     raise ValueError("存款金额不能为负数")
        # self.__balance += amount
        # print(f"成功存入{amount}元，当前余额：{self.__balance}元")

        # 引入logger：
        try:
            if amount < 0:
                raise ValueError("存款金额不能为负数")
            self.__balance += amount
            if self.logger:
                self.logger.info(f"存款成功 - 账户：{self.account_name}，存入：{amount} 元，当前余额： {self.__balance}元")
                print(f"成功存入{amount}元，当前余额：{self.__balance}元")
        except ValueError as e:
            if self.logger:
                self.logger.warning(f"存款失败 - 账户：{self.account_name}，错误：{str(e)}")
                print(f"错误：{str(e)}")

    def withdraw(self, amount):
        # if amount < 0:
        #     raise ValueError("取款金额不能为负数")
        # elif amount > self.__balance:
        #     raise ValueError("余额不足，请检查金额")
        # else:
        #     self.__balance -= amount
        #     print(f"成功取出{amount}元，当前余额：{self.__balance}元")
        try:
            if amount < 0:
                raise ValueError("取款金额不能为负数")
            elif amount > self.__balance:
                raise ValueError("余额不足，请检查金额")
            else:
                self.__balance -= amount
                if self.logger:
                    self.logger.info(f"存款成功 - 账户：{self.account_name}，存入：{amount} 元，当前余额： {self.__balance}元")
                    print(f"成功取出{amount}元，当前余额：{self.__balance}元")
        except ValueError as e:
            if self.logger:
                self.logger.warning(f"取款失败 - 账户：{self.account_name}，错误：{str(e)}")
                print(f"错误：{str(e)}")

    def get_balance(self):
        return self.__balance

In [40]:
logger = Logger("Bank_log.txt")
account = BankAccount("Ming", 1000, logger)

while True:
    print("\n请选择操作：")
    print("1. 存款")
    print("2. 取款")
    print("3. 查询余额")
    print("4. 退出")

    choice = input("请输入操作编号：")

    try:
        if choice == "1":
            amount = float(input("请输入存款金额："))
            account.deposit(amount)
        elif choice == "2":
            amount = float(input("请输入取款金额："))
            account.withdraw(amount)
        elif choice == "3":
            print(f"当前余额为：{account.get_balance()} 元")
        elif choice == "4":
            print("退出系统")
            break
        else:
            print("无效的操作编号，请重新输入")
    except ValueError:
            print("无效的输入，请输入有效的数字")

请选择操作：
1. 存款
2. 取款
3. 查询余额
4. 退出

请输入操作编号： 1
请输入存款金额： 50

成功存入50.0元，当前余额：1050.0元

请选择操作：
1. 存款
2. 取款
3. 查询余额
4. 退出

请输入操作编号： 2
请输入取款金额： 2000

错误：余额不足，请检查金额

请选择操作：
1. 存款
2. 取款
3. 查询余额
4. 退出

请输入操作编号： 3

当前余额为：1050.0 元

请选择操作：
1. 存款
2. 取款
3. 查询余额
4. 退出

请输入操作编号： 4

退出系统

In [28]:
account.deposit(-50)

错误：存款金额不能为负数

In [30]:
account.deposit(50)

成功存入50元，当前余额：1050元

In [14]:
account.withdraw(-50)

ValueError: 取款金额不能为负数

In [16]:
account.withdraw(2000)

ValueError: 余额不足，请检查金额

In [18]:
account.withdraw(500)

成功取出500元，当前余额：500元

### 练习：统计文件单词频率

**text.translate(str.maketrans('', '', string.punctuation))** 用于移除字符串中的标点符号
- string.punctuation 是python标准库的常量，它包含了所有常见的标点符号
- str.maketrans() 是用于创建转换映射表的静态方法 -> 创建一个映射，将字符转换为指定的字符
    - 1. str.maketrans(from, to) 将from字符串中的字符替换为to字符串中的字符
      2. str.maketrans(from, to, delete) 除了替换字符之外，还可以指定一个delete字符串，表示要删除的字符
      3. str.maketrans('', '', string.punctuation) 返回一个映射表，告诉python在文本中遇到任何标点符号时，将其删除

In [49]:
def count_words():
    with open("example.txt", "r") as file:
        text = file.read()

    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation)) # 去除标点符号

    words = text.split()
    word_count = {}

    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
             word_count[word] = 1

    print(word_count)

    with open("word_count.txt", "w") as f:
        for word, count in word_count.items():
            f.write(f"{word}: {count}\n")

count_words()

{'i': 1, 'love': 1, 'python': 2, 'is': 1, 'very': 1, 'fun': 1}

In [44]:
import string

print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

### 练习：多行文本插入

In [58]:
with open("example_2.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

if len(lines) >= 3:
    lines[2] = "这是新的第三行内容\n"

while len(lines) < 6:
    lines.append("\n")
lines[5] = "这是第六行的内容\n"

with open("example_2.txt", "w", encoding="utf-8") as file:
    file.writelines(lines)

print("文件修改完成！")

文件修改完成！

**tell()**
- file.tell()返回当前文件指针的位置（字节数）
- 读取或写入后，可以用tell()来查看当前指针位置

**seek(offset, whence)**
- seek(0, 0) 将指针移动到文件开头
- seek(0, 2) 将指针移动到文件的末尾
- seek(n, 0) 让指针移动到文件的第n个字符

**truncate()**
- file.truncate()用于裁剪文件，确保旧内容不会遗留

In [66]:
with open("example_2.txt", "r+", encoding="utf-8") as file:
    print(f"指针的初始位置：{file.tell()}")

    lines = file.readlines()

    if len(lines) >= 3:
        lines[2] = "这是新的第三行内容\n"

    while len(lines) < 6:
        lines.append("\n")
    
    lines[5] = "这是第六行的内容\n"

    file.seek(0)
    file.writelines(lines)

    print(f"写入后指针的位置：{file.tell()}")

    file.truncate()

指针的初始位置：0
写入后指针的位置：123

### 异常处理练习 -> 结合try-except-else-finally，并使用assert

**要求**
1. 用户输入两个数字，然后计算它们的除法运算
2. 程序需要检查：1. 用户输入的是否是数字，2. 除数不能为0，3. 如果有遇到问题（比如输入错误或除数为0），程序需要捕获错误并提示用户，不中断程序

> 我们使用try-except来处理异常，else用于没有异常的情况，finally输出一句“程序结束，感谢使用”，assert用于确保除数不为0 -> 抛出assert异常，编写错误信息为：错误，除数不能为0！

In [74]:
def divide_number():
    while True:
        try:
            number_1 = float(input("请输入被除数："))
            number_2 = float(input("请输入除数："))
    
            assert number_2 != 0, "错误，除数不能为0！"
    
        except ValueError:
            print("错误，输入无效，必须为数字")
            continue
        except AssertionError as e:
            print(e)
            continue
        else:
            result = number_1 / number_2
            print(f"结果为：{result}")
            break
        finally:
            print("程序结束，感谢使用w")

In [76]:
divide_number()

请输入被除数： 40
请输入除数： 0

错误，除数不能为0！
程序结束，感谢使用w

In [78]:
divide_number()

请输入被除数： 5
请输入除数： adc

错误，输入无效，必须为数字
程序结束，感谢使用w

In [80]:
divide_number()

请输入被除数： 5
请输入除数： 10

结果为：0.5
程序结束，感谢使用w

## 模块

> 一个模块（module）包含一个完整程序的所有元素 -> 模块具有独立性和封装性
>
**模块是python程序的基本单位，通过import关键字，从其他模块中导入类/函数/属性/变量...，并将他们作为本模块的一部分来使用**

1. **import module_name** -> import math
    - 用于导入整个模块，导入后，我们需要通过模块名称来访问其中的函数/类/变量等成员
    - 特点：
      - 1. 导入整个模块后，必须使用模块名来访问其中的函数或变量
      - 2. 模块中的所有内容都会被加载到当前程序中，只有通过模块名来访问
2. **from module_name import func, var** -> from my_module import say_greeting
    - 直接从模块中导入特定的函数/类/或变量，这样导入后，我们可以直接使用这些导入的成员，而不再需要模块名来访问
        - 1. 只导入模块的某些特定内容，可以直接使用这些成员，不再需要模块名
          2. 如果只需要模块的一部分内容，减少内存的使用
          3. 可以避免名称冲突，因为导入时直接指定要导入的成员

In [89]:
from my_module import say_greeting

say_greeting()

My greeting is Hello, World!

In [114]:
import my_module

my_module.say_greeting()

My greeting is Hello, World!

In [5]:
my_module.PI

3.14159

In [2]:
import my_module

result = my_module.add(2, 3)
print(result)

print(my_module.PI)

5

In [2]:
from my_module import add, PI

result = add(2, 3)
print(result)

print(PI)

5
3.14159

In [4]:
from my_module import MyClass

newclass = MyClass()
newclass.show_message()

This is a message from MyClass.

### 标准库和第三方库
> 两者的区别是来源/使用方式/维护方式等方面
>
**标准库**
> python自带的库，包含了需要常用的模块和包，用来提供各种功能，比如文件操作/数字运算/日期处理/网络通信等等...标准库是python安装包的一部分，安装python时会自动包含这些包
>
特点：
1. 跟python安装包一起安装
2. python官方维护
3. 广泛应用

常见的便准库模块包括：
- math：提供数学函数和常量
- os: 提供了与操作系统交互的功能，比如文件操作/环境变量等
- datetime：处理日期和时间
- sys：提供了与python解释器和系统交互的功能
- json：用于JSON数据的解析和生产
- re：提供正则表达式的功能

#### OS库进行文件和目录操作
1. 创建一个新目录
2. 列出当前目录中所有的文件和子目录
3. 创建一个新文件并写入内容
4. 读取文件内容
5. 删除文件
6. 删除目录

In [11]:
import os

# 1. 创建新目录
new_dir = "example_directory"
if not os.path.exists(new_dir):
    os.mkdir(new_dir)
    print(f"目录‘{new_dir}’创建成功！")
else:
    print(f"目录‘{new_dir}’已存在")

目录‘example_directory’创建成功！

In [15]:
# 2. 列出当前目录中所有的文件和子目录
print("当前目录中的文件和子目录：")
for item in os.listdir('.'): # 表示当前目录
    print(item)

当前目录中的文件和子目录：
.ipynb_checkpoints
Bank_log.txt
example.txt
example_2.txt
example_directory
Lecture 8.ipynb
my_module.py
word_count.txt
__pycache__

In [19]:
# 3. 创建一个新文件并写入内容
filename = os.path.join(new_dir, "example_file.txt")
with open(filename, "w") as f:
    f.write("这是一个示例文件。\n欢迎学习python标准库os！")

print(f"文件 '{filename}'创建并写入成功！")

文件 'example_directory\example_file.txt'创建并写入成功！

In [23]:
# 5. 删除文件
os.remove(filename)
print(f"文件 '{filename}'已删除！")

文件 'example_directory\example_file.txt'已删除！

In [25]:
# 6. 删除目录
os.rmdir(new_dir)
print(f"目录 '{new_dir}'已删除！")

目录 'example_directory'已删除！

**第三方库**
> python社区或者其他开发者开发并发布的库，通常不包含在python标准库中，需要通过工具（pip）安装
>
特点：
1. 需要手动安装
2. 社区或公司开发
3. 功能丰富且灵活

常用的第三方库：
- Numpy：用于科学计算和数组的操作
- Pandas：用于数据分析和数据处理
- Django: 用于Web应用的框架
- Flask：轻量级的web框架
- Requests：用于HTTP请求
- Matplotlib：用于绘制和数据可视化

*安装第三方库*
1. 使用pip安装
2. 使用conda安装
3. 使用pip来安装Github上的库
4. 使用pipenv安装 -> 管理虚拟环境
5. 使用poetry安装

### 包（Package）
> 按目录来组织模块的方法称为包
>
**什么是包？**
一个包含多个模块(.py文件)的目录。包可以嵌套，形成层级结构。每个包目录都需要包含一个__init__.py文件，来告诉python，这个目录是一个包。其中__init__.py文件通常是空的，但它可以包含包的初始化代码。

## Pandas

#### 1. 创建和查看DataFrame

In [49]:
import pandas as pd

# 创建DataFrame
data = {"Name": ["Alice", "Bob", "Katy", "Sam"], 
       "Age": [12, 11, 10, 12],
       "Gender": ["F", "M", "F", "M"],
       "Score": [67, 77, 45, 30]}

df = pd.DataFrame(data)
df

    Name  Age Gender  Score
0  Alice   12      F     67
1    Bob   11      M     77
2   Katy   10      F     45
3    Sam   12      M     30

In [39]:
type(df)

pandas.core.frame.DataFrame

In [41]:
df.head(2)

    Name  Age Gender  Score
0  Alice   12      F     67
1    Bob   11      M     77

In [43]:
df.tail(2)

   Name  Age Gender  Score
2  Katy   10      F     45
3   Sam   12      M     30

In [51]:
# 指定索引
df.loc[2]

Name      Katy
Age         10
Gender       F
Score       45
Name: 2, dtype: object

In [57]:
df.iloc[2]

Name      Katy
Age         10
Gender       F
Score       45
Name: 2, dtype: object

In [47]:
data = [['Google', 10], ['Runoob', 12], ['Wiki', 13]]

# 创建DataFrame
df = pd.DataFrame(data, columns=['Site', 'Age'])

# 使用astype方法设置每列的数据类型
df['Site'] = df['Site'].astype(str)
df['Age'] = df['Age'].astype(float)

df

     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0